body {
  background-color: #fff;
  color: #0000FF;
  font-size: 16px;
  line-height: 125%

}

#logo {
  background-image: url("../images/bloc-logo.png");
  height: 60px;
  width: 160px;
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
    font-size: 3em; /* 48px */
    text-align: center;
    line-height: 150%
}

#instagram{
background-image: url("../images/instagram-pic.jpg");
height: 800px;
width: 800px;
background-repeat: no-repeat;
background-size: contain;

}
h3 {
  font-size: 2em; /* 32px */
  text-align: center;
  line-height: 150%;
}

author {
  font-size: 1em; /* 16px */
}

story-text {
  text-align: left;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;

}

li {
  float: right;
  padding: 30px;
}

a:link {
  text-decoration: none;
}

a:visited { color:#000}
a:hover { color:#0070BA}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
